.form {
  font-size: 16pt;
  margin-top: 10px;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input,
.form textarea {
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
}

.form div {
  margin-top: 10px;
}

.btn {
  background-color: dodgerblue;
  color: white;
  border-radius: 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16pt;
  margin-top: 10px;
}
