.App {
  text-align: center;
}

.App-header {
  background-color: blanchedalmond;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16pt);
  color: black;
}

a {
  text-decoration: none;
}
